html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  color: #757575;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

Ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.menu-container {
  display: none;
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: block;
    position: relative;
    padding: 0;
  }
}

@media screen and (min-width: 1200px) {
  .menu-container {
    display: block;
    position: relative;
    padding: 0;
  }
}

.menu-container.is-open {
  display: block;
  padding: 48px 40px;
  background: #fff;
  position: absolute;
  z-index: 18;
  top: 0;
  left: 0;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .menu-container.is-open {
    position: relative;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.menu-button {
  z-index: 20;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .menu-btn__icon {
    display: none;
  }
}

.menu-button .icon-cross {
  display: none;
}

@media screen and (min-width: 768px) {
  .menu-button .icon-cross {
    display: none;
  }
}

.menu-button.is-open .icon-cross {
  display: block;
}

@media screen and (min-width: 768px) {
  .menu-button.is-open .icon-cross {
    display: none;
  }
}

.menu-button.is-open .icon-menu {
  display: none;
}

@media screen and (min-width: 768px) {
  .menu-button.is-open .icon-menu {
    display: none;
  }
}

.contacts__item-mob + .contacts__item-mob {
  margin-top: 32px;
}

@media screen and (min-width: 768px) {
  .contacts__item-mob {
    display: none;
  }
}

.contacts__link-mob {
  font-family: inherit;
  font-weight: 500;
}

.contacts__link-mob.tel {
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.contacts__link-mob.mail {
  font-size: 24px;
  line-height: 1.16px;
  letter-spacing: 0.02em;
  color: #757575;
}

.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 64px;
}

@media screen and (min-width: 768px) {
  .links {
    display: none;
  }
}

.menu-link {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .menu-link {
    display: none;
  }
}

.logo {
  color: #212121;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.logo--accent {
  color: #2196f3;
}

.footer__logo {
  color: #fff;
}

@media screen and (max-width: 1199px) {
  .footer__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.header {
  border-bottom: 1px solid #ececec;
  position: relative;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 768px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .header__container {
    width: 1200px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .sitenav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .sitenav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 93px;
  }
}

@media screen and (min-width: 768px) {
  .sitenav__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .sitenav__link:hover {
    color: #2196f3;
  }
  .sitenav__link:focus {
    color: #2196f3;
  }
}

.sitenav__item + .sitenav__item {
  margin-top: 32px;
}

@media screen and (min-width: 768px) {
  .sitenav__item + .sitenav__item {
    margin-top: 0;
    margin-left: 50px;
  }
}

.sitenav__link {
  color: #212121;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.15;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .sitenav__link {
    margin-top: 0;
    font-size: 14px;
    line-height: 1.2;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
  }
}

.sitenav__link--active {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .sitenav__link--active::after {
    content: "";
    background-color: #2196f3;
    border-radius: 2px;
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: -1px;
    left: 0;
    -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.contacts {
  margin-top: 302px;
}

@media screen and (min-width: 768px) {
  .contacts {
    margin-top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: 84px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    margin-top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
  }
}

.contacts__link {
  display: none;
}

@media screen and (min-width: 768px) {
  .contacts__link {
    display: block;
    color: #757575;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts__link:focus {
    color: #2196f3;
  }
  .contacts__link:hover {
    color: #2196f3;
  }
  .contacts__link:hover .contacts__icon-smartphone {
    fill: #2196f3;
  }
  .contacts__link:hover .contacts__icon-envelope {
    fill: #2196f3;
  }
  .contacts__link:focus .contacts__icon-envelope {
    fill: #2196f3;
  }
  .contacts__link:focus .contacts__icon-smartphone {
    fill: #2196f3;
  }
}

.contacts__item {
  display: none;
}

@media screen and (min-width: 768px) {
  .contacts__item {
    display: block;
    margin-top: 0;
  }
  .contacts__item + .contacts__item {
    margin-top: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__item {
    display: block;
  }
  .contacts__item + .contacts__item {
    margin-left: 50px;
    margin-top: 0;
  }
}

.contacts__icon-envelope {
  display: none;
}

@media screen and (min-width: 768px) {
  .contacts__icon-envelope {
    margin-right: 10px;
    display: block;
    width: 16px;
    height: 12px;
  }
}

.contacts__icon-smartphone {
  display: none;
}

@media screen and (min-width: 768px) {
  .contacts__icon-smartphone {
    margin-right: 10px;
    display: block;
    width: 10px;
    height: 16px;
  }
}

.button {
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 32px;
  text-align: center;
  margin: auto;
  border-radius: 4px;
  color: #fff;
  background-color: #2196f3;
  border: none;
  font-family: inherit;
  font-style: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  cursor: pointer;
  -webkit-transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover {
  background: #188ce8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.menu-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0;
  background-color: transparent;
  border: none;
}

.btn-portfolio {
  padding: 6px 22px;
  color: #212121;
  background-color: #f5f4fa;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-portfolio:focus {
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: #fff;
  background-color: #2196f3;
}

.btn-portfolio:hover {
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: #fff;
  background-color: #2196f3;
}

.backdrop {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  width: 455px;
  height: 609px;
  padding: 40px;
  background: #fff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.btn-close {
  margin-top: 8px;
  margin-right: 8px;
  width: 30px;
  height: 30px;
  background: none;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.btn-close:focus {
  fill: #2196f3;
}

.btn-close:hover {
  fill: #2196f3;
}

.close-icon {
  width: 11px;
  height: 11px;
}

.modal__headline {
  display: inline-block;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  margin-bottom: 12px;
  color: #212121;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form:not(:last-child) {
  margin-bottom: 10px;
}

.form__label {
  font-size: 12px;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}

.form__input {
  width: 100%;
  height: 40px;
  padding: 12px 0 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
}

.form__input:focus {
  outline: 1px solid #2196f3;
}

.form__input:focus + .form__icon {
  fill: #2196f3;
}

.form__input-comment {
  resize: none;
  height: 120px;
  padding: 12px 16px;
}

.form__input-container {
  position: relative;
}

.form__icon {
  height: 18px;
  width: 18px;
  position: absolute;
  top: 50%;
  left: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.checkbox:checked + .checkbox__icon {
  border: 2px solid #2196f3;
  color: #2196f3;
}

.checkbox__icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid #212121;
  border-radius: 2px;
  position: relative;
  color: transparent;
}

.checkbox__icon--check {
  position: absolute;
  top: -2px;
  left: -2px;
  fill: currentColor;
}

.label-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 12px;
  line-height: 1.16;
}

@media screen and (min-width: 1200px) {
  .label-check {
    font-size: 14px;
    line-height: 2;
  }
}

.link-contract {
  color: #2196f3;
}

.modal .button {
  margin-top: 30px;
  padding: 10px 56px;
}

.section {
  padding: 60px 15px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding: 94px;
  }
}

.section__title {
  margin-bottom: 30px;
  color: #212121;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.1;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .section__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.2;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 450px;
}

@media screen and (min-width: 768px) {
  .container {
    width: 738px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.hero {
  background: #2f303a;
  padding: 118px 60px;
}

@media screen and (min-width: 1200px) {
  .hero {
    padding: 0;
  }
}

.hero--overlay {
  max-width: 480px;
  height: 400px;
  margin: 0;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#2f303a66), to(#2f303a66)), url(../images/img-bcg-mob.jpg);
  background-image: linear-gradient(to top, #2f303a66, #2f303a66), url(../images/img-bcg-mob.jpg);
  background-repeat: no-repeat;
}

@media screen and (min-width: 768px) {
  .hero--overlay {
    height: 400px;
    max-width: 768px;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#2f303a66), to(#2f303a66)), url(../images/img-bcg-tab.jpg);
    background-image: linear-gradient(to top, #2f303a66, #2f303a66), url(../images/img-bcg-tab.jpg);
    padding-top: 128px;
  }
}

@media screen and (min-width: 1200px) {
  .hero--overlay {
    height: 600px;
    max-width: 1600px;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#2f303a66), to(#2f303a66)), url(../images/img-bcg.jpg);
    background-image: linear-gradient(to top, #2f303a66, #2f303a66), url(../images/img-bcg.jpg);
    padding-top: 200px;
  }
}

.hero__title {
  margin-bottom: 30px;
  color: #fff;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 360px;
    margin: 0 auto 30px;
  }
}

@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
    margin: 0 auto 30px;
    font-size: 44px;
    line-height: 1.4;
  }
}

.section-features {
  padding-bottom: 0;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 768px) {
  .features {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .features {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.features__item {
  width: 450px;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .features__item {
    width: 354px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .features__item {
    width: 270px;
    margin-bottom: 0;
  }
}

.iconbox__icon {
  width: 70px;
  height: 70px;
}

.features__iconbox {
  margin-bottom: 30px;
  padding: 25px 192.34px;
  width: 450px;
  height: 120px;
  background: #f5f4fa;
}

@media screen and (min-width: 768px) {
  .features__iconbox {
    width: 354px;
    padding: 25px 144px;
  }
}

@media screen and (min-width: 1200px) {
  .features__iconbox {
    width: 270px;
    padding: 25px 100px;
  }
}

.features__title {
  margin-bottom: 10px;
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .features__title {
    text-align: center;
  }
}

.features__text {
  font-size: 14px;
  line-height: 1.7;
}

.section__title.for-desktop {
  display: none;
}

@media screen and (min-width: 1200px) {
  .section__title.for-desktop {
    display: block;
  }
}

.servises__item {
  position: relative;
}

.servises {
  display: none;
}

@media screen and (min-width: 1200px) {
  .servises {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .servises-overlay {
    width: 100%;
    height: 70px;
    padding-top: 27px;
    padding-bottom: 27px;
    background: rgba(47, 48, 58, 0.8);
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.servises__text {
  display: none;
}

@media screen and (min-width: 1200px) {
  .servises__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    text-transform: uppercase;
    color: #fff;
  }
}

.section-team {
  background: #f5f4fa;
}

.member {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 768px) {
  .member {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .member {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.member__item {
  width: 450px;
  margin-bottom: 30px;
  padding-bottom: 24px;
  background: #fff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 768px) {
  .member__item {
    width: 354px;
    padding-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .member__item {
    width: 270px;
    padding-bottom: 30px;
  }
}

.member__name {
  margin-top: 30px;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

.member__work {
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

.network {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.network__link {
  margin-top: 16px;
  width: 44px;
  height: 44px;
  border-radius: 100%;
  padding: 12px;
  color: #afb1b8;
  cursor: pointer;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.network__link:hover {
  color: #fff;
  background-color: #2196f3;
}

.network__link + .network__link {
  margin-left: 10px;
}

.network__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 1200px) {
  .clients {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.clients__link {
  display: inline-block;
  width: 210px;
  height: 92px;
  padding: 16px 52px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: var(--text-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover {
  cursor: pointer;
  border: 1px solid #2196f3;
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .clients__link {
    width: 226px;
    padding: 16px 60px;
  }
}

@media screen and (min-width: 1200px) {
  .clients__link {
    width: 170px;
    padding: 16px 32px;
  }
}

@media screen and (max-width: 767px) {
  .clients__item:nth-child(2n) {
    margin-left: 30px;
  }
  .clients__item:nth-child(n + 3) {
    margin-top: 30px;
  }
}

@media screen and (min-width: 768px) {
  .clients__item:nth-child(-n + 3) {
    margin-bottom: 30px;
  }
  .clients__item + .clients__item:nth-child(-n + 3) {
    margin-left: 30px;
  }
  .clients__item:nth-last-child(-n + 2) {
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .clients__item + .clients__item {
    margin-left: 30px;
  }
}

.clients__icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 768px) {
  .footer .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.adress {
  margin-top: 20px;
  color: #fff;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
}

@media screen and (max-width: 1199px) {
  .adress--flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer__contacts .footer__contacts-item {
  color: rgba(255, 255, 255, 0.6);
  margin-top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 1200px) {
  .footer__contacts .footer__contacts-item {
    margin-top: 9px;
  }
}

.footer__network-link {
  background: rgba(255, 255, 255, 0.1);
  margin-top: 0;
}

.footer__features-title {
  color: #fff;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .footer__features-title {
    text-align: center;
  }
}

.followbox {
  margin-top: 60px;
}

@media screen and (min-width: 768px) {
  .followbox {
    margin-top: 0px;
    margin-left: 165px;
  }
}

@media screen and (min-width: 1200px) {
  .followbox {
    margin-top: 0px;
    margin-left: 70px;
  }
}

.subscribe {
  margin-top: 60px;
}

@media screen and (min-width: 1200px) {
  .subscribe {
    margin-top: 0;
    margin-left: 94px;
  }
}

@media screen and (max-width: 1199px) {
  .subscribe .button {
    margin-top: 20px;
  }
}

.subscribe__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 1200px) {
  .subscribe__wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe__wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.subscribe__input {
  height: 50px;
  width: 100%;
  margin-right: 12px;
  padding: 15px 16px;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .subscribe__input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe__input {
    width: 358px;
  }
}

.icon-send {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .portfolio {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 767px) {
  .portfolio__item + .portfolio__item:nth-child(-n + 3) {
    margin-left: 8px;
  }
  .portfolio__item:nth-last-child(-n + 2) {
    margin-top: 15px;
  }
  .portfolio__item:nth-last-child(-n + 1) {
    margin-left: 8px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio__item + .portfolio__item {
    margin-left: 8px;
  }
}

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (min-width: 1200px) {
  .project {
    margin-left: -30px;
  }
}

.project__item {
  width: 450px;
  margin-top: 30px;
  border: 1px solid #eeeeee;
}

@media screen and (min-width: 768px) {
  .project__item {
    width: 354px;
  }
  .project__item:nth-child(2n) {
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .project__item {
    width: 370px;
    margin-left: 30px;
    border-bottom: 1px solid #eeeeee;
  }
  .project__item:hover {
    cursor: pointer;
    -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  .project__item:hover .project__overlay {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.project__textbox {
  padding: 20px 24px;
}

.project__thumb {
  position: relative;
  overflow: hidden;
}

.project__overlay {
  width: 100%;
  height: 294px;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project__text-overlay {
  font-size: 18px;
  line-height: 1.56;
  color: #fff;
}

.project__title {
  margin-bottom: 4px;
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project__text {
  font-weight: normal;
  font-size: 16px;
  line-height: 1, 9px;
}
/*# sourceMappingURL=main.css.map */