.logo {
  color: $title-text-color;

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.logo--accent {
  color: $accent-color;
}

.footer__logo {
  color: $white-color;
  @media screen and (max-width: 1199px) {
    display: flex;
    justify-content: center;
  }
}
