.menu-container {
  display: none;
}

.menu-container.is-open {
  display: block;
  padding: 48px 40px;

  background: $white-color;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.menu-button {
  z-index: 20;
}

.menu-button .icon-cross {
  display: none;
}
.menu-button.is-open .icon-cross {
  display: block;
}
.menu-button.is-open .icon-menu {
  display: none;
}

.links {
  display: flex;

  color: $accent-color;
  margin-top: 64px;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
