.backdrop {
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.2);

  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  transform: scale(1);
  transition: transform 250ms $transition-timing;
}
.modal {
  width: 455px;
  height: 609px;
  padding: 40px;

  background: $white-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @media screen and (min-width: 1200px) {
    width: 528px;
    height: 581px;
  }
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: 0;
  transform: scale(0);
}
.btn-close {
  margin-top: 8px;
  margin-right: 8px;
  width: 30px;
  height: 30px;

  background: none;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);

  position: absolute;
  top: 0;
  right: 0;

  cursor: pointer;
  &:focus {
    fill: $accent-color;
  }
  &:hover {
    fill: $accent-color;
  }
}
.close-icon {
  width: 11px;
  height: 11px;
}

.modal__headline {
  display: inline-block;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  margin-bottom: 12px;

  color: $title-text-color;
}
.form {
  display: flex;
  flex-direction: column;
  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.form__label {
  font-size: 12px;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}

.form__input {
  width: 100%;
  height: 40px;
  padding: 12px 0 12px 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  outline: none;
  &:focus {
    outline: 1px solid $accent-color;
  }
  &:focus + .form__icon {
    fill: $accent-color;
  }
}

.form__input-comment {
  resize: none;
  height: 120px;
  padding: 12px 16px;
}

.form__input-container {
  position: relative;
}

.form__icon {
  height: 18px;
  width: 18px;

  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
}

.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  &:checked + .checkbox__icon {
    border: 2px solid $accent-color;
    color: $accent-color;
  }
}

.checkbox__icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 7px;

  border: 2px solid $title-text-color;
  border-radius: 2px;

  position: relative;
  color: transparent;
  &--check {
    position: absolute;
    top: -2px;
    left: -2px;
    fill: currentColor;
  }
}

.label-check {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 12px;
  line-height: 1.16;
  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 2;
  }
}

.link-contract {
  color: $accent-color;
}

.modal .button {
  margin-top: 30px;
  padding: 10px 56px;
}
