.section {
  padding: $container-padding-mobile 15px;
  @media screen and (min-width: 1200px) {
    padding: $container-padding;
  }
}

.section__title {
  margin-bottom: 30px;

  color: $title-text-color;

  font-weight: 700;
  font-size: 28px;
  line-height: 1.1;
  text-align: center;
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.2;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 450px;
  @media screen and (min-width: 768px) {
    width: 738px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

//--section hero--//
.hero {
  background: #2f303a;
  padding: 118px 60px;
  @media screen and (min-width: 1200px) {
    padding: 0;
  }
}
.hero--overlay {
  max-width: 480px;
  height: 400px;
  margin: 0;
  background-image: linear-gradient(to top, #2f303a66, #2f303a66),
    url(../images/img-bcg-mob.jpg);
  background-repeat: no-repeat;

  @media screen and (min-width: 768px) {
    height: 400px;
    max-width: 768px;
    background-image: linear-gradient(to top, #2f303a66, #2f303a66),
      url(../images/img-bcg-tab.jpg);
    padding-top: 128px;
  }

  @media screen and (min-width: 1200px) {
    height: 600px;
    max-width: 1600px;
    background-image: linear-gradient(to top, #2f303a66, #2f303a66),
      url(../images/img-bcg.jpg);
    padding-top: 200px;
  }
}

.hero__title {
  margin-bottom: 30px;

  color: $white-color;

  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  @media screen and (min-width: 1200px) {
    max-width: 360px;
    margin: 0 auto 30px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 696px;
    margin: 0 auto 30px;

    font-size: 44px;
    line-height: 1.4;
  }
}
//==end of section hero==//

//--section features--//
.section-features {
  padding-bottom: 0;
}

.features {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  @media screen and (min-width: 1200px) {
    flex-direction: row;
    justify-content: space-between;
  }
}
.features__item {
  width: 450px;
  margin-bottom: 30px;
  @media screen and (min-width: 768px) {
    width: 354px;
    margin-bottom: 0;
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
    margin-bottom: 0;
  }
}
.iconbox__icon {
  width: 70px;
  height: 70px;
}

.features__iconbox {
  margin-bottom: 30px;
  padding: 25px 192.34px;
  width: 450px;
  height: 120px;
  background: #f5f4fa;
  @media screen and (min-width: 768px) {
    width: 354px;
    padding: 25px 144px;
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
    padding: 25px 100px;
  }
}

.features__title {
  margin-bottom: 10px;

  color: $title-text-color;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
  @media screen and (max-width: 768px) {
    text-align: center;
  }
}

.features__text {
  font-size: 14px;
  line-height: 1.7;
}
//==end of section features==//

//--section servises--//

.section__title.for-desktop {
  display: none;

  @media screen and (min-width: 1200px) {
    display: block;
  }
}

.servises__item {
  position: relative;
}

.servises {
  display: none;
  @media screen and (min-width: 1200px) {
    display: flex;

    flex-direction: row;
    justify-content: space-between;
  }
}

.servises-overlay {
  @media screen and (min-width: 1200px) {
    width: 100%;
    height: 70px;
    padding-top: 27px;
    padding-bottom: 27px;

    background: rgba(47, 48, 58, 0.8);

    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.servises__text {
  display: none;
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: center;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    text-transform: uppercase;

    color: $white-color;
  }
}
//==end of section servises==//

//--section team--//
.section-team {
  background: #f5f4fa;
}

.member {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  @media screen and (min-width: 1200px) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.member__item {
  width: 450px;
  margin-bottom: 30px;
  padding-bottom: 24px;

  background: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  @media screen and (min-width: 768px) {
    width: 354px;
    padding-bottom: 30px;
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
    padding-bottom: 30px;
  }
}

.member__name {
  margin-top: 30px;

  color: $title-text-color;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

.member__work {
  margin-top: 10px;

  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

.network {
  display: flex;
  justify-content: center;
  align-items: center;
}

.network__link {
  margin-top: 16px;
  width: 44px;
  height: 44px;
  border-radius: 100%;
  padding: 12px;

  color: #afb1b8;

  cursor: pointer;

  transition: color 250ms $transition-timing,
    background-color 250ms $transition-timing;
  &:hover {
    color: $white-color;
    background-color: $accent-color;
  }
}

.network__link + .network__link {
  margin-left: 10px;
}

.network__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
//==end of section servises==//

//--section clients--//
.clients {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
    justify-content: center;
  }
}

.clients__link {
  display: inline-block;
  width: 210px;
  height: 92px;
  padding: 16px 52px;

  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: var(--text-color);

  transition: color 250ms $transition-timing;
  &:hover {
    cursor: pointer;
    border: 1px solid $accent-color;
    color: $accent-color;
  }

  @media screen and (min-width: 768px) {
    width: 226px;
    padding: 16px 60px;
  }

  @media screen and (min-width: 1200px) {
    width: 170px;
    padding: 16px 32px;
  }
}

.clients__item {
  @media screen and (max-width: 767px) {
    &:nth-child(2n) {
      margin-left: 30px;
    }
    &:nth-child(n + 3) {
      margin-top: 30px;
    }
  }
  @media screen and (min-width: 768px) {
    &:nth-child(-n + 3) {
      margin-bottom: 30px;
    }
    & + .clients__item:nth-child(-n + 3) {
      margin-left: 30px;
    }
    &:nth-last-child(-n + 2) {
      margin-left: 30px;
    }
  }

  & + .clients__item {
    @media screen and (min-width: 1200px) {
      margin-left: 30px;
    }
  }
}

.clients__icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}
