.footer .container {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  @media screen and (min-width: 1200px) {
    flex-direction: row;
  }
}

.footer {
  background-color: #2f303a;

  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (max-width: 767px) {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.adress {
  margin-top: 20px;

  color: $white-color;

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
}

.adress--flex {
  @media screen and (max-width: 1199px) {
    display: flex;
    justify-content: center;
  }
}

.footer__contacts {
  .footer__contacts-item {
    color: rgba(255, 255, 255, 0.6);
    margin-top: 8px;
    display: flex;
    justify-content: center;

    @media screen and (min-width: 1200px) {
      justify-content: start;
      margin-top: 9px;
    }
  }
}

.footer__network-link {
  background: rgba(255, 255, 255, 0.1);
  margin-top: 0;
}

.footer__features-title {
  color: $white-color;
  margin-bottom: 20px;
  @media screen and (min-width: 768px) {
    text-align: center;
  }
}

.followbox {
  margin-top: 60px;
  @media screen and (min-width: 768px) {
    margin-top: 0px;
    margin-left: 165px;
  }

  @media screen and (min-width: 1200px) {
    margin-top: 0px;
    margin-left: 70px;
  }
}

.subscribe {
  margin-top: 60px;

  @media screen and (min-width: 1200px) {
    margin-top: 0;
    margin-left: 94px;
  }
  .button {
    @media screen and (max-width: 1199px) {
      margin-top: 20px;
    }
  }
}

.subscribe__wrap {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 1200px) {
    flex-direction: row;
  }
  @media screen and (min-width: 1200px) {
    flex-direction: row;
  }
}

.subscribe__input {
  height: 50px;
  width: 100%;

  padding: 15px 16px;

  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: $white-color;
  @media screen and (min-width: 768px) {
    width: 450px;
  }
  @media screen and (min-width: 1200px) {
    width: 358px;
    margin-right: 12px;
  }
}

.icon-send {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}
